/* google font link start */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* google font link end */
/* Common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;   
}
.text_center{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin: 150px 0;
}
.btn{
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border:1px solid #FF0000;
    border-radius: 8px;
    background: none;
    transition: all linear 0.3s;
}
.btn:hover{
    background: #FF0000;
}
.sec_ttl{
    color:#070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}
.sec_sub_ttl{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sec_text{
    color: #07021199;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.text_primary{
    color:#FF0000;
}
.text_secondary{
    color:#fff
}
.text_dark{
    color: #070211;
}
/* Common css end */
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
header section start
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/
/* Banner section start */
#header .banner{
    background:linear-gradient(180deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/banner.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}
.banner_sub_ttl{
    color:#fff;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px ;
}
.banner_ttl{
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
}
/* Banner section End */
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
header section End
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
Main section start
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------ */
/* off Section Start */
.off_discount{
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
} 
.off_sub_ttl{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}
/* off Section End */
/* Party Section Start */
#party_sec .container{
    background:linear-gradient(90deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    padding: 0 100px;
    height: 600px;
    border-radius: 16px;  
}
#party_sec .row {
    justify-content: flex-start;
}
.party_sec_ttl{
    color:#fff;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 88px;
}
.party_ssc_text{
    margin: 10px 0;
    line-height: 30px;
}
#party_sec .btn{
    margin-top: 20px;
}
#party_sec img{
    margin-left: 80px;
}
/* Party Section End */
/* Date Section Start */
/* Date Section Start */
#date_sec .container{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    padding: 100px 0;   
}
#date_sec p{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 60px;
}
#date_sec .btn{
    background: #FF0000;
    margin-top: 70px;
}#date_sec .btn:hover{
    color:#FF0000;
    background: none;
}
/* Date Section End */
/* offer Section Start */
#offer_sec .row{
    justify-content: space-between;
}
#offer_sec .sec_ttl{
    font-family: "Inter", sans-serif;
}
#offer_sec .offer_item_2{
    padding:40px;
    border:15px solid #FF0000;
    border-radius: 100%;
    margin-left: -50px ;
}
/* offer Section End */
/* Discount Section Start*/
#discount .discount_ttl{
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 25px;
}
#discount .discount_text{
    margin-bottom: 100px;
}
/* Discount Section End*/
/* Portfolio Section Start */
/* Portfolio Section End */
#portfolio .protfolio_img img{
   transition: all linear 0.3s;
   border-radius: 20px;
   border: 2px solid #fff;
   opacity: 80%;
}
#portfolio .protfolio_img img:hover{
    border: 2px solid #ba0468;
    opacity: 100%;
}
#portfolio .row{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    row-gap: 20px;
}
/* Subscribe Section Start */
#subscribe_sec .container{
    padding: 120px 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
#subscribe_sec .container img{
    margin-bottom:30px ;
}
#subscribe_sec input{
    width: 30%;
    padding: 25px 0 25px 30px;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 100px 0 0 100px; 
}
#subscribe_sec .btn{
    color: #fff;
    margin-top: 10px;
    background: #FF0000;
    padding: 24px 50px;
    border-radius: 0 100px 100px 0;
}
#subscribe_sec .btn:hover{
    color: #FF0000;
    background: none;
    border: 1px solid #FF0000;
}
/* Subscribe Section End */

/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
Main section End
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
footer section Start
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/
#footer{
    background-color: #070211;
    padding: 120px 0; 
}
#footer .footer_text{
    font-size: 24px;
    font-weight: 500;
}
#footer hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 45px 0;
}
#footer .row{
    justify-content: space-between;
}
#footer .contact .row{
    justify-content: flex-start;
    column-gap: 10px;
}
#footer .btn{
    font-size: 24px;
}
/* ------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
Footer section End
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/